<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-image: linear-gradient(to right, orange , white);
   color: black;

}
.grid-container {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto;
    
    padding: 0px;
  }
  
</style>
</head>
<body>


<div class="footer">
    <div class="grid-container">
        <div class="grid-item">
            <label>About Us</label>
            <p>FedChoice bank was found on 14th june 2016 with the objective
            of providing with the detail <br>service based on Retail Banking Operations.
            <br>The retail Internet
            banking of FedChoice Bank offers a platform of products and servive to cater its customer.
        </p>
        </div>
        <div class="grid-item">
          <label>Contact</label>
            <address>
                Email:Service@edchoice.com<br>
                Contact:9876543210<br>
                Address:Corporate office,Chennai,Tamilnadu<br>
            </address>

        </div>
       
      </div>
</div>

</body>
</html> 
